---
import { SITE_DESCRIPTION } from '../config'
import { getCollection, render } from "astro:content";
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import OldArticleNote from '../components/OldArticleNote.astro';
import dayjs from 'dayjs'
import { loadDefaultJapaneseParser } from 'budoux';

export async function getStaticPaths() {
  const posts = await getCollection('archives');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post);

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathName = canonicalURL.pathname.split('/').join('');
const parser = loadDefaultJapaneseParser();

const gitHubLink = `https://github.com/yamanoku/archives/issues/new?title=アーカイブのドキュメントにまつわる修正依頼&labels=feedback&body=URL：https://archives.yamanoku.net/${pathName}%0A修正依頼内容：%0A`;
const xLink = `https://x.com/share?url=https://archives.yamanoku.net/${pathName}&text=@yamanoku`;
---

<html lang="ja">
  <head>
    <BaseHead title={`${post.data.title} | yamanoku.net`} description={post.data.description ? post.data.description : SITE_DESCRIPTION} noindex={post.data.noindex} />
    <style is:global>
      @reference "../styles/global.css";
      @layer components {
        .footnotes {
          @apply relative pt-y-rhythm-3 before:absolute before:top-0 before:left-0 before:w-full before:h-[1px] before:bg-y-arcticle-border-color;
        }
        .footnotes h2 {
          @apply sr-only;
        }
        .footnotes li p {
          @apply m-0;
        }
      }
    </style>
  </head>

  <body data-pagefind-body>
    <Header />
    <main>
      <article>
        <h1 set:html={parser.translateHTMLString(post.data.title)} />
        <div class="flex flex-wrap justify-between m-[calc(var(--y-rhythm-2)*-1)] p-0">
          <time class="m-y-rhythm-2">created at: {dayjs(post.data.date).format('YYYY-MM-DD')}</time>
          <p class="m-y-rhythm-2">出典元: <span class="italic">{post.data.source}</span></p>
        </div>
        <OldArticleNote date={post.data.date} />
        <Content />
      </article>
      <p>
        アーカイブ記事のため、内容に関する更新依頼は受け付けておりませんが、誤字や脱字などありましたらご連絡ください。
      </p>
      <details>
        <summary>この記事に関する修正依頼</summary>
        <ul>
          <li>
            <a href={gitHubLink} target="_blank">
              GitHub Issue を作成する
            </a>
          </li>
          <li>
            <a href={xLink} target="_blank">
              著者にポストする
            </a>
          </li>
        </ul>
      </details>
      <a href="/">トップへ戻る</a>
    </main>
    <Footer />
  </body>
</html>
