---
import type { CollectionEntry } from "astro:content";
import { SITE_DESCRIPTION } from '../config'
import { getCollection } from "astro:content";
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import dayjs from 'dayjs'
import { loadDefaultJapaneseParser } from 'budoux';

type Props = {
  post: CollectionEntry<'archives'>;
};

export async function getStaticPaths() {
  global.data = global.data ? global.data : await getCollection('archives');
  return global.data.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathName = canonicalURL.pathname.split('/').join('');
const parser = loadDefaultJapaneseParser();

const editLink = `https://github.com/yamanoku/archives/edit/main/src/content/archives/${pathName}.md`;
const gitHubLink = `https://github.com/yamanoku/archives/issues/new?title=アーカイブのドキュメントにまつわる修正依頼&labels=feedback&body=URL：https://archives.yamanoku.net/${pathName}%0A修正依頼内容：%0A`;
const xLink = `https://x.com/share?url=https://archives.yamanoku.net/${pathName}&text=@yamanoku`;
---

<html lang="ja">
  <head>
    <BaseHead title={`${post.data.title} | yamanoku.net`} description={post.data.description ? post.data.description : SITE_DESCRIPTION} noindex={post.data.noindex} />
    <style is:global>
      @tailwind components;
      @layer components {
        .footnotes {
          @apply relative pt-y-rhythm-3 before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-[1px] before:bg-y-arcticle-border-color;
        }
        .footnotes h2 {
          @apply sr-only;
        }
        .footnotes li p {
          @apply m-0;
        }
      }
    </style>
  </head>

  <body data-pagefind-body>
    <Header />
    <main>
      <article>
        <h1 set:html={parser.translateHTMLString(post.data.title)} />
        <div class="flex flex-wrap justify-between m-[calc(var(--y-rhythm-2)*-1)] p-0">
          <time class="m-y-rhythm-2">created at: {dayjs(post.data.date).format('YYYY-MM-DD')}</time>
          <a class="m-y-rhythm-2" href={editLink} target="_blank" rel="noopener">GitHub Edit Page</a>
        </div>
        <div class="notes flex items-center flex-wrap gap-1 my-y-rhythm-3 mx-0 p-y-rhythm-2 rounded border-2 border-solid border-y-black-base bg-[#f3f4f6] dark:border-y-white-medium dark:bg-y-black-base">
          <svg class="w-6 h-6" role="img" aria-hidden="true" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 2L2 22h20L12 2z"></path>
            <path d="M12 10v5"></path>
            <path d="M12 18v.01"></path>
          </svg>
          <strong>
            この記事は公開から1年以上が経過しています。内容が一部古い箇所があります。
          </strong>
        </div>
        <Content />
      </article>
      <p>
        アーカイブ記事のため、内容に関する更新依頼は受け付けておりませんが、誤字や脱字などありましたらご連絡ください。
      </p>
      <details>
        <summary>この記事に関する修正依頼</summary>
        <ul>
          <li>
            <a href={gitHubLink} target="_blank" rel="noopener">
              GitHub Issue を作成する
            </a>
          </li>
          <li>
            <a href={xLink} target="_blank" rel="noopener">
              著者にポストする
            </a>
          </li>
        </ul>
      </details>
      <a href="/">トップへ戻る</a>
    </main>
    <Footer />
  </body>
</html>
