---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import dayjs from 'dayjs'
import { loadDefaultJapaneseParser } from 'budoux';
import { ViewTransitions } from "astro:transitions";

type Props = {
  page: Page<CollectionEntry<'archives'>>;
};

export async function getStaticPaths() {
  global.data = global.data ? global.data : await getCollection('archives');
  return global.data.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const pathName = canonicalURL.pathname.split('/').join('');
const parser = loadDefaultJapaneseParser();

const editLink = `https://github.com/yamanoku/archives/edit/main/src/content/archives/${pathName}.md`;
const gitHubLink = `https://github.com/yamanoku/archives/issues/new?title=アーカイブのドキュメントにまつわる修正依頼&labels=feedback&body=URL：https://archives.yamanoku.net/${pathName}%0A修正依頼内容：%0A`;
const twitterLink = `https://twitter.com/share?url=https://archives.yamanoku.net/${pathName}&text=@yamanoku`;
---

<html lang="ja">
  <head>
    <BaseHead title={`${post.data.title} | yamanoku.net`} description={post.data.description} noindex={post.data.noindex} />
    <style>
      .bread-crumbs {
        margin: var(--y-rhythm-3) 0;
      }
    </style>
    <style>
      .notes {
        margin: var(--y-rhythm-3) 0;
      }
      .article-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: calc(var(--y-rhythm-2) * -1);
        padding: 0;
      }
      .article-header > * {
        margin: var(--y-rhythm-2);
      }
    </style>
    <style is:global>
      .footnotes {
        position: relative;
        padding-top: var(--y-rhythm-3);
      }
      .footnotes::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: var(--y-arcticle-border-color);
        position: absolute;
        top: 0;
        left: 0;
      }
      .footnotes h2 {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
      .footnotes li p {
        margin: 0;
      }
    </style>
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1 class="title" set:html={parser.translateHTMLString(post.data.title)} />
        <nav class="bread-crumbs">
          <a href="/">ホーム</a>&emsp;/&emsp;<span aria-current="page">{post.data.title}</span>
        </nav>
        <div class="article-header">
          <time>created at: {dayjs(post.data.date).format('YYYY-MM-DD')}</time>
          <a href={editLink} target="_blank" rel="noopener">GitHub Edit Page</a>
        </div>
        <div class="notes">
          <strong>
            この記事は公開から1年以上が経過しています。内容が一部古い箇所があります。
          </strong>
        </div>
        <Content />
      </article>
      <p>
        アーカイブ記事のため、内容に関する更新依頼は受け付けておりませんが、誤字や脱字などありましたらご連絡ください。
      </p>
      <details>
        <summary>この記事に関する修正依頼</summary>
        <ul>
          <li>
            <a href={gitHubLink} target="_blank" rel="noopener">
              GitHub Issue を作成する
            </a>
          </li>
          <li>
            <a href={twitterLink} target="_blank" rel="noopener">
              著者にツイートする
            </a>
          </li>
        </ul>
      </details>
      <a href="/">アーカイブ一覧へ戻る</a>
    </main>
    <Footer />
  </body>
</html>
