---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import dayjs from 'dayjs'

import { getCollection } from 'astro:content';
const posts = (await getCollection('archives')).sort(
  (a, b) =>
    new Date(b.data.date).valueOf() -
    new Date(a.data.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>アーカイブ</h1>
      <p>
        このページはyamanokuこと大山奥人が書いてきた過去の記事やログを収集したページです。
      </p>
      <p>
        移行時にリンク切れなど修正しましたが、内容自体は特にアップデートしておりませんので参照する際はその点ご注意ください。
      </p>
      <details>
        <summary>記事検索フォーム</summary>
        <div id="search"></div>
      </details>
      <style is:global>
        :root {
          --pagefind-ui-border: var(--y-hr-border-color);
          --pagefind-ui-text: var(--y-body-text-color);
          --pagefind-ui-background: var(--y-body-background);
          --pagefind-ui-border-width: 1px;
          --pagefind-ui-image-border-radius: 0;
          --pagefind-ui-font: san-serif;
        }
      </style>
      <script>
        window.addEventListener('DOMContentLoaded', () => {
          // @ts-ignore
          new PagefindUI({
            element: "#search",
            translations: {
              placeholder: "",
            },
          });
        });
      </script>
      <h2>アーカイブ一覧</h2>
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>記事タイトル</th>
          </tr>
        </thead>
        <tbody>
          {
            posts.map((post) => (
              <tr>
                <td>
                  <time class="whitespace-nowrap" datetime={dayjs(post.data.date).format('YYYY-MM-DD')}>
                    {dayjs(post.data.date).format('YYYY-MM-DD')}
                  </time>
                </th>
                <td>
                  <a href={post.slug}>{post.data.title}</a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </main>
    <Footer />
  </body>
</html>
