---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import OpenPageFindModal from '../components/OpenPageFindModal.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import dayjs from 'dayjs'

import { getCollection } from 'astro:content';
const posts = (await getCollection('archives')).sort(
  (a, b) =>
    new Date(b.data.date).valueOf() -
    new Date(a.data.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main data-pagefind-ignore>
      <h1>アーカイブ</h1>
      <p>
        このページはyamanokuこと大山奥人が書いてきた過去の記事やログを収集したページです。
      </p>
      <p>
        移行時にリンク切れなど修正しましたが、内容自体は特にアップデートしておりませんので参照する際はその点ご注意ください。
      </p>
      <h2>アーカイブ一覧</h2>
      <p>現在のアーカイブ記事は{posts.length}件あります。</p>
      <OpenPageFindModal />
      <table>
        <thead>
          <tr>
            <th>日付</th>
            <th>記事タイトル</th>
          </tr>
        </thead>
        <tbody>
          {
            posts.map((post) => (
              <tr>
                <td>
                  <time class="whitespace-nowrap" datetime={dayjs(post.data.date).format('YYYY-MM-DD')}>
                    {dayjs(post.data.date).format('YYYY-MM-DD')}
                  </time>
                </th>
                <td>
                  <a href={post.id}>{post.data.title}</a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
      <h2>LLMsテキスト</h2>
      <p>
        LLM（大規模言語モデル）にarchives.yamanoku.netのコンテンツを提供するため、<a href="https://llmstxt.org/">llms.txt</a>規約に則ったデータをサポートしています。
      </p>
      <ul>
        <li><a href="/llms.txt">/llms.txt</a> ... アーカイブ一覧のリストとリンク</li>
        <li><a href="/llms-full.txt">/llms-full.txt</a> ... アーカイブ一覧のすべてのコンテンツ内容を含む</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
