---
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config'
import dayjs from 'dayjs'

type Props = {
  page: Page<CollectionEntry<"files">>;
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await getCollection('files')).sort(
  (a, b) =>
    new Date(b.data.date).valueOf() -
    new Date(a.data.date).valueOf()
  )
  return paginate(posts, { pageSize: 20 });
}
const { page } = Astro.props;

---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={`${SITE_TITLE} - ${page.currentPage}ページ目`} description={SITE_DESCRIPTION} />
    <style>
      .bread-crumbs {
        margin: var(--y-rhythm-3) 0;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>{page.currentPage}ページ目</h1>
      <nav class="bread-crumbs">
        {page.url.prev ? <a href={page.url.prev}>前へ</a> : null}
        {page.currentPage}ページ目&emsp;/&emsp;{page.lastPage} ページ中
        {page.url.next ? <a href={page.url.next}>次へ</a> : null}
      </nav>
      {
        page.data.map((post) => (
          <article>
            <time datetime={dayjs(post.data.date).format('YYYY-MM-DD')}>
              {dayjs(post.data.date).format('YYYY-MM-DD')}
            </time>
            <h2>
              <a href={'/'+ post.slug}>
                <budoux-ja>{post.data.title}</budoux-ja>
              </a>
            </h2>
            <p>{post.data.description}</p>
          </article>
        ))
      }
      <nav>
        {page.url.prev ? <a href={page.url.prev}>前へ</a> : null}
        {page.url.next ? <a href={page.url.next}>次へ</a> : null}
      </nav>
    </main>
    <Footer />
  </body>
</html>
